<ion-view hide-nav-bar="true" style="background: #eee;" class="hide">
  <ion-content class="padding-sides-45 vcenter" scroll="true">
    <form  name="loginForm" novalidate>
      <div class="logo-dark">
        The Springboard Collaborative
      </div>

      <div class="list">
        <label class="item item-input item-floating-label no-padding no-border">
          <span class="input-label">Username</span>
          <input type="text" name="username" autocorrect="off" autocapitalize="none" placeholder="Username" class="md" ng-model="auth.username" ng-required="true" ng-minlength="4" required>
        </label>
        <p ng-show="invalid.username" class="no-margin text-muted" style="padding-top: 3px;">Invalid Username</p>
        <label class="item item-input item-floating-label no-padding no-border">
          <span class="input-label">Password</span>
          <input type="password" name="password" placeholder="Password" class="md" ng-model="auth.password" ng-required="true" ng-minlength="4">
        </label>
        <p ng-show="invalid.password" class="no-margin text-muted" style="padding-top: 3px;">Invalid Password</p>
      </div>
      <button type="submit" class="button button-block" style="border-radius: 0; background: #E74C3C; color: #fff;" ng-click="login(loginForm)">Login</button>
    </form>
  </ion-content>
</ion-view>
