<ion-view hide-nav-bar="false">
  <ion-nav-title>
    <div class="logo">
      The Springboard Collaborative
    </div>
  </ion-nav-title>
  <ion-content>
    <ion-list>
      <ion-item class="no-padding">
        <label class="item item-input item-select no-border card">
          <div class="input-label">
            Timespan
          </div>
          <select style="background: #f7f8fa" ng-model="selectedTimespan" ng-options="timespan.value as timespan.label for timespan in timespans" ng-change="timespanChange($event)"></select>
        </label>
      </ion-item>
    </ion-list>
    <div class="list card">
      <div class="item">
        <span class="text-muted text-small margin-bottom-5">Total Cases</span>
        <h2 class="stat no-margin">{{totalTickets}}</h2>
        <div style="position: absolute; top: 30px; right: 25px;">
          <bar-chart ng-model="barChart" options="{ height: 28, width: 48, fill: ['#e74c3c'], padding: 0.2}"></bar-chart>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <span class="text-muted text-small margin-bottom-5">Cases Completed</span>
        <h2 class="stat no-margin">{{closedPercent}}%</h2>
        <div style="position: absolute; top: 30px; right: 25px;">
          <pie-chart ng-model="closedPercentPie" options="{height: 24, width: 24, fill:['#29b955', '#ccc'], delimiter:'/' }"></pie-chart>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <span class="text-muted text-small margin-bottom-5">Avg Reponse Time</span>
        <h2 class="stat no-margin">{{ticketAvg}} hours</h2>
        <div style="position: absolute; top: 30px; right: 25px;">
          <line-chart ng-model="lineChart" options="{height: 28, width: 64, fill: '#d1e4f6', stroke: '#0288d1'}"></line-chart>
        </div>
      </div>
    </div>

    <div class="list card">
      <div class="item">
        <h3 class="center">Top 5 Groups</h3>
      </div>
      <div class="item item-body">
        <div ng-controller="GraphCtrl" ng-init="renderGraphs()" style="text-align: center;">
          <div id="topGroupsChart"></div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
