<ion-view>
  <ion-nav-title>
    <div class="logo">
      The Springboard Collaborative
      </div>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear" ng-click="openFilterTicket($event)">
      <i class="material-icons">search</i>
    </button>
    <button class="button button-icon button-clear" ng-click="openNewTicket($event)">
      <i class="material-icons">add</i>
    </button>
  </ion-nav-buttons>
  <ion-content class="full-height">
    <div class="noTickets aligner" ng-show="showNoTickets">
      <i class="aligner-item material-icons" style="font-size: 48px; margin-bottom: 20px;">sentiment_dissatisfied</i>
      <div class="aligner-item">No Cases</div>
    </div>
    <div class="noTickets aligner" ng-show="showLoadingTickets">
      <!-- <i class="aligner-item material-icons" style="font-size: 48px; margin-bottom: 20px;">sentiment_dissatisfied</i>  -->
      <div class="aligner-item">Loading...</div>
    </div>
    <ion-refresher pulling-text="" on-refresh="doRefresh()" spinner="crescent"></ion-refresher>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="case in cases track by ticket._id" type="item-text-wrap" href="#/tab/tickets/{{ticket.uid}}">
        <div class="ticket-status status-{{ticket.status}}"></div>
        <div ng-if="ticket.owner.image != undefined" class="avatar">
          <img http-src="/uploads/users/{{ticket.owner.image}}">
        </div>
        <div ng-if="ticket.owner.image == undefined" class="avatar">
          <img http-src="/uploads/users/defaultProfile.jpg">
        </div>
        <h4 style="margin-bottom: 0;">T.{{ticket.uid}} - {{ticket.owner.fullname}}</h4>
        <span class="ticketDate">{{ticket.date | date: 'short'}}</span>
        <h5 style="margin-bottom: 5px;">{{ticket.group.name}}</h5>
        <h3 style="margin-bottom: 2px;">{{ticket.subject}}</h3>
        <p>{{ticket.issue | htmlToPlaintext}}</p>
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-royal" style="padding-left: 25px; padding-right: 25px;background: #bcbcbc;" ng-click="showActionSheet($event, {{ticket}})">More</ion-option-button>
      </ion-item>
    </ion-list>

    <ion-infinite-scroll
        ng-if="canFetchMoreTickets()"
        on-infinite="fetchTickets()"
        distance="1%"
        spinner="crescent">
    </ion-infinite-scroll>

  </ion-content>
</ion-view>
