<ion-view>
  <ion-nav-title>
    <div class="logo">
      The Springboard Collaborative
    </div>
  </ion-nav-title>
  <ion-nav-buttons side="secondary">
    <button class="button button-icon button-clear icon ion-ios-compose-outline" ng-click="showNewConversation();">
    </button>
  </ion-nav-buttons>
  <ion-content class="full-height">
    <div class="noMessages aligner" ng-show="!showRecentConversations">
      <div style="width: 100%; flex: 0 1;">
        <ion-item class="item-divider item light-font list-head-light" ng-show="!isEmpty(onlineUsers)">Active Now</ion-item>
        <ion-list scroll="false" ng-show="!isEmpty(onlineUsers)">
            <ion-scroll direction="x" style="overflow-x: hidden;" delegate-handle="activeUsersScroll">
                <ion-item class="item-x item-avatar"
                    style="min-height: 75px;"
                    ng-repeat="userObj in onlineUsers track by userObj.user._id | orderBy: 'user'"
                    ng-click="startConversation(userObj.user._id);">
                    <div class="avatar avatar-small">
                        <img http-src="/uploads/users/{{userObj.user.image}}" ng-if="userObj.user.image">
                            <img http-src="/uploads/users/defaultProfile.jpg" ng-if="!userObj.user.image">
                                <span class="online-status" style="bottom: 15px; right: 10px;"></span>
                                </div>
                    <div class="item-x-content">
                        <h5 style="font-weight: 300;">{{userObj.user.fullname}}</h5>
                    </div>
                </ion-item>
            </ion-scroll>
        </ion-list>
      </div>
      <div style="width: 100%; flex: 1 0; text-align: center;">
        <div class="" style="margin-bottom: 25px; font-size: 22px; font-weight: 300; padding-top: 25px;">No Conversations</div>
        <!-- <hr style="width: 80%; height: 2px; border: none; background: #ccc; margin-bottom: 20px;" /> -->
        <div style="width: 70%; margin: 0 auto;">
            <button class="button button-full button-assertive" ng-click="showNewConversation();">Start Conversation</button>
        </div>
      </div>
    </div>
    <ion-item class="item-divider item light-font list-head-light" ng-show="!isEmpty(onlineUsers) && showRecentConversations;">Active Now</ion-item>
    <ion-list scroll="false" ng-show="!isEmpty(onlineUsers) && showRecentConversations">
        <ion-scroll direction="x" style="overflow-x: hidden;" delegate-handle="activeUsersScroll">
            <ion-item class="item-x item-avatar"
                style="min-height: 75px;"
                ng-repeat="userObj in onlineUsers track by userObj.user._id | orderBy: 'user'"
                ng-click="startConversation(userObj.user._id);">
                <div class="avatar avatar-small">
                    <img http-src="/uploads/users/{{userObj.user.image}}" ng-if="userObj.user.image">
                        <img http-src="/uploads/users/defaultProfile.jpg" ng-if="!userObj.user.image">
                            <span class="online-status" style="bottom: 15px; right: 10px;"></span>
                            </div>
                <div class="item-x-content">
                    <h5 style="font-weight: 300;">{{userObj.user.fullname}}</h5>
                </div>
            </ion-item>
        </ion-scroll>
    </ion-list>
    <ion-item class="item-divider item light-font list-head-light" ng-show="showRecentConversations">Conversations</ion-item>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right"
      ng-repeat="convo in recentConversations track by convo._id | orderBy:'-updatedAt'"
      style="min-height: 50px;" href="#/tab/messages/{{convo._id}}" ng-show="showRecentConversations">
        <div ng-if="(convo.participants | conversationFrom:loggedInUser).image != undefined" class="avatar avatar-small avatar-with-status">
          <img http-src="/uploads/users/{{(convo.participants | conversationFrom:loggedInUser).image}}">
          <span class="online-status online-status-online" ng-if="isUserOnline(onlineUsers, (convo.participants | conversationFrom:loggedInUser))"></span>
          <span class="online-status online-status-offline" ng-if="!isUserOnline(onlineUsers, (convo.participants | conversationFrom:loggedInUser))"></span>
        </div>
        <div ng-if="(convo.participants | conversationFrom:loggedInUser).image == undefined" class="avatar avatar-small avatar-with-status">
          <img http-src="/uploads/users/defaultProfile.jpg">
          <span class="online-status online-status-online" ng-if="isUserOnline(onlineUsers, (convo.participants | conversationFrom:loggedInUser))"></span>
          <span class="online-status online-status-offline" ng-if="!isUserOnline(onlineUsers, (convo.participants | conversationFrom:loggedInUser))"></span>
        </div>
        <h3 style="margin-bottom: 0; margin-top: 3px; font-weight: 300;">{{(convo.participants | conversationFrom:loggedInUser).fullname}}</h3>
        <span class="message-date">{{convo.recentMessage.createdAt | amCalendar:referenceTime:formats}}</span>
        <div ng-if="convo.recentMessage.owner._id == loggedInUser._id">
          <p style="margin-top: 2px; color: #b3b3b3; font-weight: 300;">You: {{convo.recentMessage.body | removeHTMLTags}}</p>
        </div>
        <div ng-if="convo.recentMessage.owner._id != loggedInUser._id">
          <p style="margin-top: 2px; color: #b3b3b3; font-weight: 300;">{{convo.recentMessage.owner.fullname}}: {{convo.recentMessage.body | removeHTMLTags}}</p>
        </div>
        <ion-option-button class="button-assertive" style="padding-left: 13px; padding-right: 13px; font-weight: 300; font-size: 12px;" ng-click="deleteConversation('{{convo._id}}')">
          <div>
            <i class="icon ion-ios-close-empty"></i>
            Delete
          </div>
        </ion-option-button>
      </ion-item>
    </ion-list>
    <!--<ion-item class="item-divider item light-font list-head-light">More conversations</ion-item>-->
    <!--<ion-list>-->
      <!--<ion-item class="item-remove-animate item-avatar item-icon-right" style="min-height: 50px;">-->
        <!--<div class="avatar avatar-small avatar-with-status">-->
          <!--<img http-src="/uploads/users/defaultProfile.jpg">-->
          <!--<span class="online-status online-status-offline"></span>-->
        <!--</div>-->
        <!--<h3 style="margin-bottom: 0; margin-top: 3px; font-weight: 300;">Chris Brame</h3>-->
        <!--<span class="message-date">Saturday</span>-->
        <!--<p style="margin-top: 2px; color: #b3b3b3; font-weight: 300;">Chris: Hey how are you doing today, this is a really long message attempt.</p>-->

        <!--<ion-option-button class="button" style="padding-left: 17px; padding-right: 17px;font-weight: 300; font-size: 12px;background: #cccccc;color:#fff;">-->
          <!--<div>-->
            <!--<i class="icon ion-ios-more-outline"></i>-->
            <!--More-->
          <!--</div>-->
        <!--</ion-option-button>-->
        <!--<ion-option-button class="button" style="padding-left: 17px; padding-right: 17px;font-weight: 300; font-size: 12px;background: #bcbcbc;color:#fff;">-->
          <!--<div>-->
            <!--<i class="icon ion-ios-volume-low"></i>-->
            <!--Mute-->
          <!--</div>-->
        <!--</ion-option-button>-->
        <!--<ion-option-button class="button-assertive" style="padding-left: 13px; padding-right: 13px; font-weight: 300; font-size: 12px;">-->
          <!--<div>-->
            <!--<i class="icon ion-ios-close-empty"></i>-->
            <!--Delete          -->
          <!--</div>-->
        <!--</ion-option-button>-->
      <!--</ion-item>-->
    </ion-list>
  </ion-content>
</ion-view>
